<!-- Using the Movie class -->
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Movie

<!-- Form that allows users to enter movie information -->
<br>
<br>

<h1 class="text-center mt-4">Enter a New Movie</h1>

<br>
<br>

<div class="container p-4 border rounded shadow-sm bg-light">
    <form method="post">
        <br>
        <input type="hidden" asp-for="MovieId"></input>
        <label asp-for="Category">Category</label>
        <select asp-for="CategoryId" required>
            <option value="">Select a Category</option>
            @* Grab all of the different types of categories from the viewbag *@
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select>
        <br>
        <br>
        <label asp-for="Title">Title</label>
        <input asp-for="Title" required/>
        <span asp-validation-for="Title" class="text-danger"></span>
        <br>
        <br>
        <label asp-for="Year">Year</label>
        <input asp-for="Year"/>
        <span asp-validation-for="Year" class="text-danger"></span>
        <br>
        <br>
        <label asp-for="Director">Director</label>
        <input asp-for="Director"/>
        <span asp-validation-for="Director" class="text-danger"></span>
        <br>
        <br>
        <label asp-for="Rating">Rating</label>
        <select asp-for="Rating">
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG13">PG-13</option>
            <option value="R">R</option>
        </select>
        <br>
        <br>
        <label asp-for="Edited">Edited</label>
        <select asp-for="Edited" required>
            <option value="">Select</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <span asp-validation-for="Edited" class="text-danger"></span>
        <br>
        <br>
        <label asp-for="LentTo">Lent To:</label>
        <input asp-for="LentTo"/>
        <br>
        <br>
        <label asp-for="CopiedToPlex">Coped To Plex?</label>
        <select asp-for="CopiedToPlex" required>
            <option value="">Select</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <span asp-validation-for="CopiedToPlex" class="text-danger"></span>
        <br>
        <br>
        <label asp-for="Notes">Notes</label>
        <input asp-for="Notes"/>
        <button type="submit">Add Movie</button>

        <br>
        
        <!-- Print out any errors -->
        <div asp-validation-summary="All"></div>
    </form>
</div>
