
<!-- HTML that has the links for Joel -->

<div class="text-center">
    <h1>Get to know Joel!</h1>
    
    <br>
    <br>
    
    <a href="https://www.qwcomedy.com/">
        <button type="button">Quick Wits Comedy</button>
    </a>
    
    <br>
    <br>
    
    <a href="https://baconsale.com/">
        <button type="button">Bacon Sale</button>
    </a>
    
    <br>
    <br>
    
    <!-- Clickable image -->
    <a href="https://baconsale.com/">
        <img src="~/img/baconSale.jpg" height="500"></img>
    </a>
</div>


